<h2><%= @restaurant.name %></h2>
<h3>Category: <%= @restaurant.category.capitalize%></h3>
<p><%= @restaurant.address %></p>
<p> Phone: <%= @restaurant.phone_number %></p>

<h2>Reviews</h2>
<ul>
  <% @reviews.each do |review| %>
    <li>Rating: <%= review.rating %> <br>
      <%= review.content %></li>
  <% end %>
</ul>

<%= link_to "Write a Review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
<%= link_to "Back to Restaurants", restaurants_path, class: "btn btn-danger" %>
